@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container">
  <h2>Edit</h2>
  <p id="errorMessage">@ViewBag.ErrorMessage</p>  
  <h4>Edit this Stylist: @Html.DisplayFor(model => model.LastName)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.FirstName, "First Name:  ")
    @Html.TextBoxFor(model => model.FirstName)

    @Html.LabelFor(model => model.LastName," Last Name: " )
    @Html.TextBoxFor(model => model.LastName)

    @Html.LabelFor(model => model.PhoneNumber, " Phone Number: ")
    @Html.TextBoxFor(model => model.PhoneNumber)

    @Html.LabelFor(model => model.Specialty, " Speciality: ")
    @Html.TextBoxFor(model => model.Specialty)

    <input type="submit" value="Save" />
  }

  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>
